{% extends 'base.html' %}


{% block contenido %}
    <h2>publicaciones</h2>
    <a href="{% url 'publicar' %}" class="button">Publicar algo nuevo</a>
  

    
    {% for Publicacion in publicaciones %}

       <!--Card con la publicacion-->
    <div class="card">
      <div class="card-header">
        {{Publicacion.fecha}}
        <span>
          <a href="{% url 'modificar-publicacion' publicacion.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
        </span>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{Publicacion.titulo}}</h5>
        <p class="card-text">{{Publicacion.cuerpo}}</p>
        <a href="#" class="btn btn-primary">Leer mas</a>
      </div>
    </div>




    {% endfor %}
      




   

{% endblock contenido %}
    