{% extends 'base.html' %}


{% block contenido %}
    <h2>publicaciones</h2>

    <!--Card con la publicacion-->
    <div class="card">
        <div class="card-header">
          23-11-23
        </div>
        <div class="card-body">
          <h5 class="card-title">Publicacion 1</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Leer mas</a>
        </div>
      </div>

          <!--Card con la publicacion-->
    <div class="card">
        <div class="card-header">
          23-11-23
        </div>
        <div class="card-body">
          <h5 class="card-title">Publicacion 2</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Leer mas</a>
        </div>
      </div>

{% endblock contenido %}
    